<a href="https://colab.research.google.com/github/Nil1205/PANDAS/blob/main/Assignment2_baya_yapt%C4%B1m.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>


____

In [24]:
import pandas as pd
import numpy as np

In [25]:
ecom = pd.read_csv('data 2.csv',encoding= 'unicode_escape')

**Check the head of the DataFrame.**

In [26]:
ecom.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

** How many rows and columns are there? **

In [27]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [28]:
len(ecom) # row number

541909

In [29]:
len(ecom.columns) # columns number

8

In [30]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

** Show the statistical measurements of ecom dataset **

In [31]:
ecom.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

** What is the average Purchase Price? **

In [32]:
ecom.UnitPrice.mean()

4.611113626083471

** What were the highest and lowest purchase prices? **

In [33]:
ecom.UnitPrice.max()

38970.0

In [34]:
ecom.UnitPrice.min()

-11062.06

** List the country names and number of records belongs to each country **

In [35]:
ecom

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [36]:
ecom.groupby("Country")["InvoiceNo"].count().sort_values(ascending=False)

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: InvoiceNo, dtype: int64

** How many records are as Country United Kingdom? **

In [37]:
ecom

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [38]:
cond=(ecom["Country"]=="United Kingdom ")

In [39]:
ecom.Country.transform(lambda x:"United Kingdom")

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904    United Kingdom
541905    United Kingdom
541906    United Kingdom
541907    United Kingdom
541908    United Kingdom
Name: Country, Length: 541909, dtype: object

In [40]:
ecom.groupby("Country")["cond"].cont()

KeyError: ignored

In [ ]:
InvoiceNo      495478
StockCode      495478
Description    494024
Quantity       495478
InvoiceDate    495478
UnitPrice      495478
CustomerID     361878
Country        495478
dtype: int64

** Create a column named Total which shows the total amount of spend using UnitPrice and Quantity ? **

In [ ]:
ecom["Total"]=ecom["Quantity"]* ecom["UnitPrice"]

In [ ]:
ecom

In [ ]:
ecom["Quantity"]* ecom["UnitPrice"]

** Show total spending amount according to the Countries **

In [ ]:
ecom.groupby("Country")["Total"].sum()

** Which Country spend least? **

In [ ]:
ecom.groupby("Country")["Total"].sum().min()

In [ ]:
ecom.Total.min()

** Calculate average of spending according to country with apply function? **

In [ ]:
ecom.groupby("Country")["Total"].apply(np.mean)

** Calculate average,min,max of spending according to country with agg function? **

In [ ]:
ecom.groupby("Country")["Total"].agg([min,max,np.mean])

** What is the max Total spending in whole dataset and show the records of that spending ?**

In [ ]:
ecom.apply(ecom.groupby("Country")["Total"].agg(max))

In [ ]:
ecom.loc[cond]

** How many people who live in Spain spend more than average Total ?**

In [ ]:
[ecom[ecom.groupby(["Country"]=Spain)["Total"]]]>[ecom.groupby("Country")["Total"].mean()]

In [ ]:
InvoiceNo      728
StockCode      728
Description    728
Quantity       728
InvoiceDate    728
UnitPrice      728
CustomerID     728
Country        728
Total          728
dtype: int64

** Convert datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2**

In [ ]:
import datetime

In [ ]:
ecom["InvoiceDate2"]=pd.to_datetime(ecom.InvoiceDate)

In [ ]:
ecom.head(1)

In [ ]:
pd.to_datetime(ecom.InvoiceDate)

** Take only date values (year-month-day) from InvoiceDate2 and assign it to a new column named date **

In [ ]:
pd.to_datetime(ecom.InvoiceDate)

In [ ]:
ecom["date"]=ecom["InvoiceDate2"].dt.date

In [ ]:
ecom["InvoiceDate2"].dt.date

** drop InvoiceDate2 and InvoiceDate columns permanently **

In [ ]:
ecom.drop(["InvoiceDate", "InvoiceDate2"], axis=1, inplace=True)

In [ ]:
ecom.head(1)

** Remove A, B, G and E from StockCode in first 5 rows of ecom dataframe with a string method **

In [ ]:
ecom.head(5)

In [ ]:
ecom["StockCode"][:5][:-1]

In [ ]:
def del_str(x):
  for i in x:
    if i.isalpha():
      return x.replace(i,"")
del_str("123h")

In [ ]:
ecom["StockCode"][:5].fillna(del_str)

** take only Total and date columns with loc and craete a new df named ecom2 **

In [ ]:
ecom2=ecom[["Total","date"]]

In [ ]:
ecom[["Total","date"]]

** take only InvoiceNo, CustomerID and Total columns with iloc and craete a new df named ecom3 **

In [ ]:
ecom.head(1)

In [ ]:
ecom3=ecom.iloc[:,[0,5,7]]

In [ ]:
ecom.iloc[:,[0,5,7]]

In [ ]:
ecom2.head(2)

In [ ]:
ecom3.head(2)

** Combine ecom2 and ecom3 with concat **

In [ ]:
pd.concat([ecom2,ecom3])

** Combine ecom2 and ecom3 with merge. If memory error occurs take only first 400 rows from both DFs.**

In [ ]:
import pandas as pd

In [ ]:
pd.merge(ecom2,ecom3, how="left", on="Total")

In [ ]:
	Total	date	InvoiceNo	CustomerID
0	15.3	2010-12-01	536365	17850.0
1	15.3	2010-12-01	536373	17850.0
2	15.3	2010-12-01	536373	17850.0
3	15.3	2010-12-01	536375	17850.0
4	15.3	2010-12-01	536375	17850.0
...	...	...	...	...
395	13.2	2010-12-01	536378	14688.0
396	13.2	2010-12-01	536378	14688.0
397	13.2	2010-12-01	536378	14688.0
398	13.2	2010-12-01	536378	14688.0
399	13.2	2010-12-01	536378	14688.0

** Combine ecom2 and ecom3 with join (inner)**

In [ ]:
ecom2.join(ecom3, how="inner")

In [ ]:
Total_left	date	InvoiceNo	CustomerID	Total_right
0	15.30	2010-12-01	536365	17850.0	15.30
1	20.34	2010-12-01	536365	17850.0	20.34
2	22.00	2010-12-01	536365	17850.0	22.00
3	20.34	2010-12-01	536365	17850.0	20.34
4	20.34	2010-12-01	536365	17850.0	20.34
...	...	...	...	...	...
541904	10.20	2011-12-09	581587	12680.0	10.20
541905	12.60	2011-12-09	581587	12680.0	12.60
541906	16.60	2011-12-09	581587	12680.0	16.60
541907	16.60	2011-12-09	581587	12680.0	16.60
541908	14.85	2011-12-09	581587	12680.0	14.85

# Congrats!