<a href="https://colab.research.google.com/github/Nil1205/PANDAS/blob/main/Assignment2_D1152_Nil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>


____

In [4]:
import pandas as pd

In [5]:
ecom = pd.read_csv('data.csv',encoding= 'unicode_escape')

**Check the head of the DataFrame.**

In [6]:
ecom.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

** How many rows and columns are there? **

In [7]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

If we want to find the exact row and column numbers, we use the following code.

In [8]:
len(ecom.index)

541909

In [9]:
len(ecom.columns)

8

** Show the statistical measurements of ecom dataset **

In [10]:
ecom.describe().T

               count          mean          std  ...       50%       75%      max
Quantity    541909.0      9.552250   218.081158  ...      3.00     10.00  80995.0
UnitPrice   541909.0      4.611114    96.759853  ...      2.08      4.13  38970.0
CustomerID  406829.0  15287.690570  1713.600303  ...  15152.00  16791.00  18287.0

[3 rows x 8 columns]

** What is the average Purchase Price? **

In [11]:
ecom.UnitPrice.mean()

4.611113626083471

** What were the highest and lowest purchase prices? **

In [12]:
ecom.UnitPrice.max()

38970.0

In [13]:
ecom.UnitPrice.min()

-11062.06

** List the country names and number of records belongs to each country **

In [14]:
ecom["Country"].value_counts()

United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

** How many records are as Country United Kingdom? **

In [15]:
ecom[ecom["Country"]=="United Kingdom"].count()

InvoiceNo      495478
StockCode      495478
Description    494024
Quantity       495478
InvoiceDate    495478
UnitPrice      495478
CustomerID     361878
Country        495478
dtype: int64

** Create a column named Total which shows the total amount of spend using UnitPrice and Quantity ? **

In [16]:
ecom["Total"]=ecom["UnitPrice"]*ecom["Quantity"]
ecom.Total

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Name: Total, Length: 541909, dtype: float64

** Show total spending amount according to the Countries **

In [17]:
ecom.groupby("Country")["Total"].sum()
#there is a error at this result.

Country
Australia               1.370773e+05
Austria                 1.015432e+04
Bahrain                 5.484000e+02
Belgium                 4.091096e+04
Brazil                  1.143600e+03
Canada                  3.666380e+03
Channel Islands         2.008629e+04
Cyprus                  1.294629e+04
Czech Republic          7.077200e+02
Denmark                 1.876814e+04
EIRE                    2.632768e+05
European Community      1.291750e+03
Finland                 2.232674e+04
France                  1.974039e+05
Germany                 2.216982e+05
Greece                  4.710520e+03
Hong Kong               1.011704e+04
Iceland                 4.310000e+03
Israel                  7.907820e+03
Italy                   1.689051e+04
Japan                   3.534062e+04
Lebanon                 1.693880e+03
Lithuania               1.661060e+03
Malta                   2.505470e+03
Netherlands             2.846615e+05
Norway                  3.516346e+04
Poland                  7.213140e+03
Portugal                2.936702e+04
RSA                     1.002310e+03
Saudi Arabia            1.311700e+02
Singapore               9.120390e+03
Spain                   5.477458e+04
Sweden                  3.659591e+04
Switzerland             5.638535e+04
USA                     1.730920e+03
United Arab Emirates    1.902280e+03
United Kingdom          8.187806e+06
Unspecified             4.749790e+03
Name: Total, dtype: float64

** Which Country spend least? **

In [18]:
ecom.groupby("Country")["Total"].sum().sort_values().head(1)

Country
Saudi Arabia    131.17
Name: Total, dtype: float64

** Calculate average of spending according to country with apply function? **

In [19]:
ecom.groupby("Country")["Total"].mean()
#ecom.groupby("Country")["Total"].appy(np.mean) second way

Country
Australia               108.877895
Austria                  25.322494
Bahrain                  28.863158
Belgium                  19.773301
Brazil                   35.737500
Canada                   24.280662
Channel Islands          26.499063
Cyprus                   20.813971
Czech Republic           23.590667
Denmark                  48.247147
EIRE                     32.122599
European Community       21.176230
Finland                  32.124806
France                   23.069288
Germany                  23.348943
Greece                   32.263836
Hong Kong                35.128611
Iceland                  23.681319
Israel                   26.625657
Italy                    21.034259
Japan                    98.716816
Lebanon                  37.641778
Lithuania                47.458857
Malta                    19.728110
Netherlands             120.059696
Norway                   32.378877
Poland                   21.152903
Portugal                 19.333127
RSA                      17.281207
Saudi Arabia             13.117000
Singapore                39.827031
Spain                    21.624390
Sweden                   79.211926
Switzerland              28.164510
USA                       5.948179
United Arab Emirates     27.974706
United Kingdom           16.525065
Unspecified              10.649753
Name: Total, dtype: float64

** Calculate average,min,max of spending according to country with agg function? **

In [20]:
ecom.groupby("Country")["Total"].agg(["mean","min","max"])

                            mean        min        max
Country
Australia             108.877895    -425.00    1718.40
Austria                25.322494     -21.25     360.00
Bahrain                28.863158    -205.74     205.74
Belgium                19.773301     -19.95     165.00
Brazil                 35.737500      15.00     175.20
Canada                 24.280662       2.50     550.94
Channel Islands        26.499063    -293.00     408.00
Cyprus                 20.813971    -320.69     320.69
Czech Republic         23.590667     -35.76      70.80
Denmark                48.247147     -59.80     428.40
EIRE                   32.122599   -1917.00    2365.20
European Community     21.176230      -8.50      60.00
Finland                32.124806     -80.00     551.20
France                 23.069288   -8322.12    4161.06
Germany                23.348943    -599.50     876.00
Greece                 32.263836     -50.00     175.20
Hong Kong              35.128611   -2653.95    2653.95
Iceland                23.681319       5.04     249.60
Israel                 26.625657    -136.00     350.40
Italy                  21.034259     -89.55     300.00
Japan                  98.716816   -1591.20    3794.40
Lebanon                37.641778      10.20     153.00
Lithuania              47.458857      13.20     122.40
Malta                  19.728110    -130.00     455.00
Netherlands           120.059696    -266.40    4992.00
Norway                 32.378877    -376.50     700.00
Poland                 21.152903     -39.80     120.00
Portugal               19.333127   -1241.98    1241.98
RSA                    17.281207       0.00      38.25
Saudi Arabia           13.117000     -14.75      19.80
Singapore              39.827031   -3949.32    3949.32
Spain                  21.624390   -1715.85    1350.00
Sweden                 79.211926   -1188.00    1188.00
Switzerland            28.164510    -179.00     360.00
USA                     5.948179     -74.88      81.36
United Arab Emirates   27.974706       3.48     153.00
United Kingdom         16.525065 -168469.60  168469.60
Unspecified            10.649753       0.19      69.36

** What is the max Total spending in whole dataset and show the records of that spending ?**

In [21]:
[ecom["Total"]==ecom["Total"].max()]
#second way: ecom.iloc[[ecom["Total"].idxmax()]]

[0         False
 1         False
 2         False
 3         False
 4         False
           ...
 541904    False
 541905    False
 541906    False
 541907    False
 541908    False
 Name: Total, Length: 541909, dtype: bool]

** How many people who live in Spain spend more than average Total ?**

In [23]:
ecom[(ecom["Total"]>ecom["Total"].mean())&((ecom["Country"]=="Spain"))].count()

InvoiceNo      728
StockCode      728
Description    728
Quantity       728
InvoiceDate    728
UnitPrice      728
CustomerID     728
Country        728
Total          728
dtype: int64

** Convert datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2**

In [25]:

ecom["InvoiceDate2"]=pd.to_datetime(ecom.InvoiceDate)
ecom["InvoiceDate2"]

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate2, Length: 541909, dtype: datetime64[ns]

** Take only date values (year-month-day) from InvoiceDate2 and assign it to a new column named date **

In [28]:
ecom["date"]=pd.to_datetime(ecom["InvoiceDate2"].dt.date)
ecom["date"]

0        2010-12-01
1        2010-12-01
2        2010-12-01
3        2010-12-01
4        2010-12-01
            ...
541904   2011-12-09
541905   2011-12-09
541906   2011-12-09
541907   2011-12-09
541908   2011-12-09
Name: date, Length: 541909, dtype: datetime64[ns]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total,InvoiceDate2,date
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30,2010-12-01 08:26:00,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01 08:26:00,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00,2010-12-01 08:26:00,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01 08:26:00,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01 08:26:00,2010-12-01

** drop InvoiceDate2 and InvoiceDate columns permanently **

In [29]:
ecom.drop(["InvoiceDate", "InvoiceDate2"], axis=1, inplace=True)
ecom.head(1)

  InvoiceNo StockCode  ... Total       date
0    536365    85123A  ...  15.3 2010-12-01

[1 rows x 9 columns]

** Remove A, B, G and E from StockCode in first 5 rows of ecom dataframe with a string method **

In [31]:
ecom["StockCode"][:5].str.strip("ABGE")

0    85123
1    71053
2    84406
3    84029
4    84029
Name: StockCode, dtype: object

** take only Total and date columns with loc and craete a new df named ecom2 **

In [34]:
#ecom2 = ecom.loc[:,["Total","Date"]]
ecom2=ecom[["Total","date"]]
ecom2

        Total       date
0       15.30 2010-12-01
1       20.34 2010-12-01
2       22.00 2010-12-01
3       20.34 2010-12-01
4       20.34 2010-12-01
...       ...        ...
541904  10.20 2011-12-09
541905  12.60 2011-12-09
541906  16.60 2011-12-09
541907  16.60 2011-12-09
541908  14.85 2011-12-09

[541909 rows x 2 columns]

** take only InvoiceNo, CustomerID and Total columns with iloc and craete a new df named ecom3 **

In [36]:
ecom3=ecom.iloc[:,[0,5,7]]
ecom3

       InvoiceNo  CustomerID  Total
0         536365     17850.0  15.30
1         536365     17850.0  20.34
2         536365     17850.0  22.00
3         536365     17850.0  20.34
4         536365     17850.0  20.34
...          ...         ...    ...
541904    581587     12680.0  10.20
541905    581587     12680.0  12.60
541906    581587     12680.0  16.60
541907    581587     12680.0  16.60
541908    581587     12680.0  14.85

[541909 rows x 3 columns]

** Combine ecom2 and ecom3 with concat **

In [39]:
ecom_concat=pd.concat([ecom2,ecom3])
ecom_concat

        Total       date InvoiceNo  CustomerID
0       15.30 2010-12-01       NaN         NaN
1       20.34 2010-12-01       NaN         NaN
2       22.00 2010-12-01       NaN         NaN
3       20.34 2010-12-01       NaN         NaN
4       20.34 2010-12-01       NaN         NaN
...       ...        ...       ...         ...
541904  10.20        NaT    581587     12680.0
541905  12.60        NaT    581587     12680.0
541906  16.60        NaT    581587     12680.0
541907  16.60        NaT    581587     12680.0
541908  14.85        NaT    581587     12680.0

[1083818 rows x 4 columns]

** Combine ecom2 and ecom3 with merge. If memory error occurs take only first 400 rows from both DFs.**

In [43]:
ecom_merge=pd.merge(ecom2.iloc[:400,:], ecom3.iloc[:400,:], on="Total")
ecom_merge

       Total       date InvoiceNo  CustomerID
0      15.30 2010-12-01    536365     17850.0
1      15.30 2010-12-01    536373     17850.0
2      15.30 2010-12-01    536373     17850.0
3      15.30 2010-12-01    536375     17850.0
4      15.30 2010-12-01    536375     17850.0
...      ...        ...       ...         ...
2187   22.95 2010-12-01    536401     15862.0
2188   16.95 2010-12-01    536401     15862.0
2189   10.65 2010-12-01    536401     15862.0
2190   13.90 2010-12-01    536401     15862.0
2191  153.00 2010-12-01    536402     15513.0

[2192 rows x 4 columns]

** Combine ecom2 and ecom3 with join (inner)**

In [44]:
ecom2.join(ecom3, how="inner", lsuffix="_left",rsuffix="_right")

        Total_left       date InvoiceNo  CustomerID  Total_right
0            15.30 2010-12-01    536365     17850.0        15.30
1            20.34 2010-12-01    536365     17850.0        20.34
2            22.00 2010-12-01    536365     17850.0        22.00
3            20.34 2010-12-01    536365     17850.0        20.34
4            20.34 2010-12-01    536365     17850.0        20.34
...            ...        ...       ...         ...          ...
541904       10.20 2011-12-09    581587     12680.0        10.20
541905       12.60 2011-12-09    581587     12680.0        12.60
541906       16.60 2011-12-09    581587     12680.0        16.60
541907       16.60 2011-12-09    581587     12680.0        16.60
541908       14.85 2011-12-09    581587     12680.0        14.85

[541909 rows x 5 columns]

# Congrats!