In [6]:
import pandas as pd
import numpy as np

In [15]:
df0 = pd.read_csv('world-happiness-report-2021.csv')

In [16]:
df=df0.copy()
df

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [17]:
df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [18]:
df.index

RangeIndex(start=0, stop=149, step=1)

In [19]:
df.set_index("Country name", inplace=True)

In [20]:
df.head(2)

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868

In [22]:
df["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [25]:
df.isnull().any(axis=1)

Country name
Finland        False
Denmark        False
Switzerland    False
Iceland        False
Netherlands    False
               ...
Lesotho        False
Botswana       False
Rwanda         False
Zimbabwe       False
Afghanistan    False
Length: 149, dtype: bool

In [26]:
df.isnull().sum()

Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, Finland to Afghanistan
Data columns (total 19 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Regional indicator                          149 non-null    object
 1   Ladder score                                149 non-null    float64
 2   Standard error of ladder score              149 non-null    float64
 3   upperwhisker                                149 non-null    float64
 4   lowerwhisker                                149 non-null    float64
 5   Logged GDP per capita                       149 non-null    float64
 6   Social support                              149 non-null    float64
 7   Healthy life expectancy                     149 non-null    float64
 8   Freedom to make life choices                149 non-null    float64
 9   Generosity                                  149 non-null    float64
 10  Perceptions of corruption                   149 non-null    float64
 11  Ladder score in Dystopia                    149 non-null    float64
 12  Explained by: Log GDP per capita            149 non-null    float64
 13  Explained by: Social support                149 non-null    float64
 14  Explained by: Healthy life expectancy       149 non-null    float64
 15  Explained by: Freedom to make life choices  149 non-null    float64
 16  Explained by: Generosity                    149 non-null    float64
 17  Explained by: Perceptions of corruption     149 non-null    float64
 18  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(1)
memory usage: 27.4+ KB

In [28]:
df.shape

(149, 19)

In [30]:
df.groupby("Regional indicator")["Perceptions of corruption"].agg([np.mean,max,min])

                                        mean    max    min
Regional indicator
Central and Eastern Europe          0.850529  0.939  0.527
Commonwealth of Independent States  0.725083  0.924  0.506
East Asia                           0.683333  0.856  0.403
Latin America and Caribbean         0.792600  0.891  0.590
Middle East and North Africa        0.762235  0.898  0.589
North America and ANZ               0.449250  0.698  0.242
South Asia                          0.797429  0.924  0.682
Southeast Asia                      0.709111  0.895  0.082
Sub-Saharan Africa                  0.765944  0.915  0.167
Western Europe                      0.523095  0.887  0.179

In [35]:
a=df.groupby("Regional indicator")["Perceptions of corruption"].agg([np.mean,max,min])

In [40]:
a.loc[["South Asia","Southeast Asia"]]

                        mean    max    min
Regional indicator
South Asia          0.797429  0.924  0.682
Southeast Asia      0.709111  0.895  0.082

In [42]:
df["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [44]:
df[df["Regional indicator"]=="South Asia"]['Perceptions of corruption'].sort_values(ascending=False)

Country name
Afghanistan    0.924
Sri Lanka      0.863
Maldives       0.825
Pakistan       0.787
India          0.774
Nepal          0.727
Bangladesh     0.682
Name: Perceptions of corruption, dtype: float64

In [45]:
df.groupby('Regional indicator').get_group('South Asia')['Perceptions of corruption'].sort_values(ascending=False)

Country name
Afghanistan    0.924
Sri Lanka      0.863
Maldives       0.825
Pakistan       0.787
India          0.774
Nepal          0.727
Bangladesh     0.682
Name: Perceptions of corruption, dtype: float64

In [46]:
def trust(corrupt):
    if corrupt >= 0.845000:
        return 'Low trust in institutions'
    elif corrupt > 0.78100 and corrupt < 0.84500:
        return 'Lower than normal level trust in institutions'
    elif corrupt > 0.667000 and corrupt <= 0.781000:
        return 'About the normal level trust in institutions'
    else:
        return 'High level trust in institutions'

In [48]:
df['trust in institutions']=df['Perceptions of corruption'].apply(trust)

In [49]:
df['trust in institutions']

Country name
Finland                     High level trust in institutions
Denmark                     High level trust in institutions
Switzerland                 High level trust in institutions
Iceland         About the normal level trust in institutions
Netherlands                 High level trust in institutions
                                   ...
Lesotho                            Low trust in institutions
Botswana       Lower than normal level trust in institutions
Rwanda                      High level trust in institutions
Zimbabwe       Lower than normal level trust in institutions
Afghanistan                        Low trust in institutions
Name: trust in institutions, Length: 149, dtype: object

In [50]:
df.head(2)

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,trust in institutions
Country name,,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253,High level trust in institutions
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868,High level trust in institutions

In [52]:
df.groupby("Regional indicator").get_group("Southeast Asia")[['trust in institutions']]

                                      trust in institutions
Country name
Singapore                  High level trust in institutions
Thailand                          Low trust in institutions
Philippines    About the normal level trust in institutions
Vietnam       Lower than normal level trust in institutions
Malaysia      Lower than normal level trust in institutions
Indonesia                         Low trust in institutions
Laos                       High level trust in institutions
Cambodia      Lower than normal level trust in institutions
Myanmar                    High level trust in institutions

In [55]:
invest_df=df[(df["Regional indicator"]=="Southeast Asia")|(df['Regional indicator']=="South Asia")]

In [56]:
invest_df[["Regional indicator", "Perceptions of corruption", "trust in institutions"]].sort_values(by="Regional indicator")

,Regional indicator,Perceptions of corruption,trust in institutions
Country name,,,
Nepal,South Asia,0.727,About the normal level trust in institutions
Maldives,South Asia,0.825,Lower than normal level trust in institutions
Bangladesh,South Asia,0.682,About the normal level trust in institutions
Pakistan,South Asia,0.787,Lower than normal level trust in institutions
Sri Lanka,South Asia,0.863,Low trust in institutions
India,South Asia,0.774,About the normal level trust in institutions
Afghanistan,South Asia,0.924,Low trust in institutions
Singapore,Southeast Asia,0.082,High level trust in institutions
Thailand,Southeast Asia,0.895,Low trust in institutions
Philippines,Southeast Asia,0.742,About the normal level trust in institutions
Vietnam,Southeast Asia,0.796,Lower than normal level trust in institutions
Malaysia,Southeast Asia,0.839,Lower than normal level trust in institutions
Indonesia,Southeast Asia,0.867,Low trust in institutions
Laos,Southeast Asia,0.658,High level trust in institutions
Cambodia,Southeast Asia,0.843,Lower than normal level trust in institutions
Myanmar,Southeast Asia,0.660,High level trust in institutions

In [60]:
#2
invest_df.groupby('Regional indicator')[['Perceptions of corruption','trust in institutions']].describe()

                   Perceptions of corruption                             \
                                       count      mean       std    min
Regional indicator
South Asia                               7.0  0.797429  0.081672  0.682
Southeast Asia                           9.0  0.709111  0.250301  0.082


                       25%    50%    75%    max
Regional indicator
South Asia          0.7505  0.787  0.844  0.924
Southeast Asia      0.6600  0.796  0.843  0.895

In [61]:
invest_df=invest_df.reset_index()

In [62]:
invest_df

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,trust in institutions
0,Singapore,Southeast Asia,6.377,0.043,6.460,6.293,11.488,0.915,76.953,0.927,...,0.082,2.43,1.695,1.019,0.897,0.664,0.176,0.547,1.379,High level trust in institutions
1,Thailand,Southeast Asia,5.985,0.047,6.077,5.893,9.805,0.888,67.401,0.884,...,0.895,2.43,1.107,0.957,0.596,0.611,0.375,0.028,2.309,Low trust in institutions
2,Philippines,Southeast Asia,5.880,0.052,5.982,5.778,9.076,0.830,62.000,0.917,...,0.742,2.43,0.853,0.828,0.426,0.651,0.125,0.126,2.872,About the normal level trust in institutions
3,Vietnam,Southeast Asia,5.411,0.039,5.488,5.334,8.973,0.850,68.034,0.940,...,0.796,2.43,0.817,0.873,0.616,0.679,0.124,0.091,2.211,Lower than normal level trust in institutions
4,Malaysia,Southeast Asia,5.384,0.049,5.480,5.289,10.238,0.817,67.102,0.895,...,0.839,2.43,1.259,0.797,0.587,0.624,0.270,0.064,1.784,Lower than normal level trust in institutions
5,Indonesia,Southeast Asia,5.345,0.056,5.454,5.235,9.365,0.811,62.236,0.873,...,0.867,2.43,0.954,0.786,0.433,0.598,0.541,0.046,1.987,Low trust in institutions
6,Nepal,South Asia,5.269,0.070,5.406,5.132,8.120,0.774,64.233,0.782,...,0.727,2.43,0.519,0.702,0.496,0.488,0.287,0.135,2.642,About the normal level trust in institutions
7,Maldives,South Asia,5.198,0.072,5.339,5.057,9.826,0.913,70.600,0.854,...,0.825,2.43,1.115,1.015,0.697,0.575,0.204,0.073,1.520,Lower than normal level trust in institutions
8,Laos,Southeast Asia,5.030,0.045,5.119,4.941,8.947,0.728,58.968,0.910,...,0.658,2.43,0.808,0.598,0.330,0.643,0.268,0.179,2.204,High level trust in institutions
9,Bangladesh,South Asia,5.025,0.046,5.115,4.934,8.454,0.693,64.800,0.877,...,0.682,2.43,0.635,0.520,0.514,0.603,0.161,0.164,2.427,About the normal level trust in institutions
10,Pakistan,South Asia,4.934,0.068,5.066,4.802,8.458,0.651,58.709,0.726,...,0.787,2.43,0.637,0.423,0.322,0.418,0.252,0.097,2.784,Lower than normal level trust in institutions
11,Cambodia,Southeast Asia,4.830,0.067,4.963,4.698,8.360,0.765,62.000,0.959,...,0.843,2.43,0.603,0.680,0.426,0.702,0.210,0.061,2.148,Lower than normal level trust in institutions
12,Myanmar,Southeast Asia,4.426,0.052,4.527,4.324,8.541,0.779,59.302,0.876,...,0.660,2.43,0.666,0.713,0.341,0.601,0.520,0.178,1.407,High level trust in institutions
13,Sri Lanka,South Asia,4.325,0.066,4.454,4.196,9.470,0.827,67.299,0.841,...,0.863,2.43,0.990,0.820,0.593,0.559,0.239,0.049,1.075,Low trust in institutions
14,India,South Asia,3.819,0.026,3.869,3.769,8.755,0.603,60.633,0.893,...,0.774,2.43,0.741,0.316,0.383,0.622,0.246,0.106,1.405,About the normal level trust in institutions
15,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,...,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895,Low trust in institutions

In [63]:
invest_df=invest_df.set_index(["Regional indicator"])

In [64]:
invest_df

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,trust in institutions
Regional indicator,,,,,,,,,,,,,,,,,,,,
Southeast Asia,Singapore,6.377,0.043,6.460,6.293,11.488,0.915,76.953,0.927,-0.018,0.082,2.43,1.695,1.019,0.897,0.664,0.176,0.547,1.379,High level trust in institutions
Southeast Asia,Thailand,5.985,0.047,6.077,5.893,9.805,0.888,67.401,0.884,0.287,0.895,2.43,1.107,0.957,0.596,0.611,0.375,0.028,2.309,Low trust in institutions
Southeast Asia,Philippines,5.880,0.052,5.982,5.778,9.076,0.830,62.000,0.917,-0.097,0.742,2.43,0.853,0.828,0.426,0.651,0.125,0.126,2.872,About the normal level trust in institutions
Southeast Asia,Vietnam,5.411,0.039,5.488,5.334,8.973,0.850,68.034,0.940,-0.098,0.796,2.43,0.817,0.873,0.616,0.679,0.124,0.091,2.211,Lower than normal level trust in institutions
Southeast Asia,Malaysia,5.384,0.049,5.480,5.289,10.238,0.817,67.102,0.895,0.125,0.839,2.43,1.259,0.797,0.587,0.624,0.270,0.064,1.784,Lower than normal level trust in institutions
Southeast Asia,Indonesia,5.345,0.056,5.454,5.235,9.365,0.811,62.236,0.873,0.542,0.867,2.43,0.954,0.786,0.433,0.598,0.541,0.046,1.987,Low trust in institutions
South Asia,Nepal,5.269,0.070,5.406,5.132,8.120,0.774,64.233,0.782,0.152,0.727,2.43,0.519,0.702,0.496,0.488,0.287,0.135,2.642,About the normal level trust in institutions
South Asia,Maldives,5.198,0.072,5.339,5.057,9.826,0.913,70.600,0.854,0.024,0.825,2.43,1.115,1.015,0.697,0.575,0.204,0.073,1.520,Lower than normal level trust in institutions
Southeast Asia,Laos,5.030,0.045,5.119,4.941,8.947,0.728,58.968,0.910,0.123,0.658,2.43,0.808,0.598,0.330,0.643,0.268,0.179,2.204,High level trust in institutions
South Asia,Bangladesh,5.025,0.046,5.115,4.934,8.454,0.693,64.800,0.877,-0.041,0.682,2.43,0.635,0.520,0.514,0.603,0.161,0.164,2.427,About the normal level trust in institutions
South Asia,Pakistan,4.934,0.068,5.066,4.802,8.458,0.651,58.709,0.726,0.098,0.787,2.43,0.637,0.423,0.322,0.418,0.252,0.097,2.784,Lower than normal level trust in institutions
Southeast Asia,Cambodia,4.830,0.067,4.963,4.698,8.360,0.765,62.000,0.959,0.034,0.843,2.43,0.603,0.680,0.426,0.702,0.210,0.061,2.148,Lower than normal level trust in institutions
Southeast Asia,Myanmar,4.426,0.052,4.527,4.324,8.541,0.779,59.302,0.876,0.509,0.660,2.43,0.666,0.713,0.341,0.601,0.520,0.178,1.407,High level trust in institutions
South Asia,Sri Lanka,4.325,0.066,4.454,4.196,9.470,0.827,67.299,0.841,0.079,0.863,2.43,0.990,0.820,0.593,0.559,0.239,0.049,1.075,Low trust in institutions
South Asia,India,3.819,0.026,3.869,3.769,8.755,0.603,60.633,0.893,0.089,0.774,2.43,0.741,0.316,0.383,0.622,0.246,0.106,1.405,About the normal level trust in institutions
South Asia,Afghanistan,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895,Low trust in institutions

In [65]:
invest_df.sort_index(inplace=True)

invest_df[["Perceptions of corruption", "trust in institutions"]]

In [67]:
df["Regional indicator"].replace({"Western Europe":"West Europe"})

Country name
Finland               West Europe
Denmark               West Europe
Switzerland           West Europe
Iceland               West Europe
Netherlands           West Europe
                      ...
Lesotho        Sub-Saharan Africa
Botswana       Sub-Saharan Africa
Rwanda         Sub-Saharan Africa
Zimbabwe       Sub-Saharan Africa
Afghanistan            South Asia
Name: Regional indicator, Length: 149, dtype: object

## Missing DATA

In [68]:
friends = {
    'first': ['Mike', 'Kevin', 'Mary', 'John', np.nan, None, 'NA'], 
    'last': ['Brown', 'Cline', 'Sunderland', 'Cliff', np.nan, np.nan, 'Missing'], 
    'email': ['mikebrown@gmail.com', 'kevincline@email.com', 'Johncliff@email.com', None, np.nan, 'private@email.com', 'NA'],
    'age': ['27', '45', '54', '37', None, None, 'Missing']
}

In [69]:
df2=pd.DataFrame(friends)

In [70]:
df2

   first        last                 email      age
0   Mike       Brown   mikebrown@gmail.com       27
1  Kevin       Cline  kevincline@email.com       45
2   Mary  Sunderland   Johncliff@email.com       54
3   John       Cliff                  None       37
4    NaN         NaN                   NaN     None
5   None         NaN     private@email.com     None
6     NA     Missing                    NA  Missing

In [71]:
df2.isnull().sum()

first    2
last     2
email    2
age      2
dtype: int64

In [72]:
df2.dropna()

   first        last                 email      age
0   Mike       Brown   mikebrown@gmail.com       27
1  Kevin       Cline  kevincline@email.com       45
2   Mary  Sunderland   Johncliff@email.com       54
6     NA     Missing                    NA  Missing

In [73]:
df2

   first        last                 email      age
0   Mike       Brown   mikebrown@gmail.com       27
1  Kevin       Cline  kevincline@email.com       45
2   Mary  Sunderland   Johncliff@email.com       54
3   John       Cliff                  None       37
4    NaN         NaN                   NaN     None
5   None         NaN     private@email.com     None
6     NA     Missing                    NA  Missing

In [74]:
df2.dropna(subset=["email"])

   first        last                 email      age
0   Mike       Brown   mikebrown@gmail.com       27
1  Kevin       Cline  kevincline@email.com       45
2   Mary  Sunderland   Johncliff@email.com       54
5   None         NaN     private@email.com     None
6     NA     Missing                    NA  Missing

In [75]:
df2.replace("NA", np.nan, inplace=True)

In [76]:
df2.replace("Missing", np.nan, inplace=True)

In [77]:
df2

   first        last                 email   age
0   Mike       Brown   mikebrown@gmail.com    27
1  Kevin       Cline  kevincline@email.com    45
2   Mary  Sunderland   Johncliff@email.com    54
3   John       Cliff                  None    37
4    NaN         NaN                   NaN  None
5   None         NaN     private@email.com  None
6    NaN         NaN                   NaN   NaN

In [79]:
df2["age"]=df2["age"].astype(float)

In [82]:
df2["age"]=df2["age"].fillna(df2["age"].mean())

In [83]:
df2

   first        last                 email    age
0   Mike       Brown   mikebrown@gmail.com  27.00
1  Kevin       Cline  kevincline@email.com  45.00
2   Mary  Sunderland   Johncliff@email.com  54.00
3   John       Cliff                  None  37.00
4    NaN         NaN                   NaN  40.75
5   None         NaN     private@email.com  40.75
6    NaN         NaN                   NaN  40.75