<a href="https://colab.research.google.com/github/Nil1205/PANDAS/blob/main/pandas_notbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Dosya okutma

In [ ]:
pd.read_csv("adult_eda.csv")
pd.read_csv("../data&resources/adult_eda.csv")

2.Row and columns number

In [ ]:
df.shape
len(df.index), len(df.columns)

3.İnfo and statistic description

In [ ]:
df.info()
df.description
df.description.T

4.The number of np.nan values for each columns

In [ ]:
df.isnull() #true or false according to np.nan
df.isnull().sum() # the number of np.nan values for each columns
df.isnull().sum().sum() # the total np.nan number of database.

5. Description of columns/index

In [ ]:
df.columns

In [ ]:
len(df.columns) # the number of columns

In [ ]:
df.index

In [ ]:
len(df.index) #the number of rows

6. Description according to dtypes

In [ ]:
df.select_dtypes(include="onject").describe()

7. All columns information with for loop

In [ ]:
#df.select_dtypes(include="onject").describe()
for col in object_col:
    print(col)
    print("--"*5)
    print(df[col].value_counts(dropna=False))
    print("--"*10)

8. Bütün kolonlarda özel bir nesneyi arama İSİN ile

In [ ]:
df[df.isin(["?"])].any()

In [ ]:
df.education.isin(["Bachelors", "Masters", "Doctorate"])

In [ ]:
(df.education=='Bachelors') | (df.education=='Masters') | (df.education=='Doctorate')

9.Bir kolonun tamamınında değişiklik yapma REPLACE ile

In [ ]:
# df.loc[df.workclass == "?", "workclass"] = "Unknown"
df.workclass.replace('?','Unknown', inplace=True)

# replace kolonun tamamında değişiklik yaparken str.replace hücre içinde değişiklik yapar

10.Toplu replace yapımı

In [ ]:
df=df.replace({"?":"Unknown"})

In [ ]:
df.relationship.replace({np.nan:'Unmarried','Not-in-family':'Unmarried','Other-relative':'Unmarried'})

In [ ]:
df.relationship.replace([np.nan, 'Not-in-family', 'Other-relative'], 'Unmarried')

11. Sadece bir kolonun değerlerinin sayısına bakmak VALUE_COUNTS()

In [ ]:
df["emplyment"].value_counts(dropna=False)

12.Kolonun sadece bir özel durumundaki dataframe çağırma

In [ ]:
df[df["workclass"]=="?"]  # bu şekilde dataframe getirir

In [ ]:
[df["workclass"]=="?"]  # bu şekilde dataframe TRUE FALSE olarak getirir

13.Koloun içini görme yolları

In [ ]:
df["education"]  #index  value

In [ ]:
df["education"].value_count(dropna=False) #value sayısı ve counts sayısına göre bütükten küçüğe sıralanmış olarak getirir

In [ ]:
df["education"].sort_values(by=, ascending= ) # index, value sıralar (by ve ascending göre sıralar)

In [ ]:
df["education"].sort_index() # index value (indeks sıralar ascending göre)

14.Groupby örnekler

In [ ]:
df.groupby('education')['education-num'].value_counts(dropna=False)

In [ ]:
country_salary_df = df.groupby("native-country")[["salary"]].count()
country_salary_df

In [ ]:
df[df.salary==">50K"].groupby("native-country")[["salary"]].count()

15.Kolon düşme silme

In [ ]:
df.drop("education-num", axis=1, inplace=True) # kolon düşerken herzaman axis=1 yazılır

16.IQR analiz

In [ ]:
low=df.age.quantile(0.25)

In [ ]:
high=df.age.quantile(0.75)
high

In [ ]:
IQR=high-low
IQR

In [ ]:
lower_lim=28- 1.5*IQR
lower_lim

In [ ]:
upper_lim= 48+ 1.5*IQR
upper_lim

In [ ]:
df[df["age"]>78]["age"].value_counts()

In [ ]:
low = df.age.quantile(0.25)
high = df.age.quantile(0.75)
IQR = high - low
low, high, IQR

In [ ]:
lower_lim = low - (1.5 * IQR)
upper_lim = high + (1.5 * IQR)
lower_lim, upper_lim

17.Drop outlier değerleri

In [ ]:
df.relationship.replace(np.nan, "None", inplace=True)
#df.relationship.fillna("None", inplace=True)

In [ ]:
# dropların indeksini bulma
drop_index=df[(df['age']>=78) & (df['hours-per-week']>=53)].index
drop_index

In [ ]:
#outlierların dataframe verir
df[(df['age']>78) & (df['hours-per-week']>52.5)]

In [ ]:
#outleri düşürür datframeden 
df.drop(idex=drop_index, inplace=True)

In [ ]:
# check outlier values which extends the upper limit in both age and hours-per-week columns
df[(df['age']>78) & (df['hours-per-week']>52.5)]

18.Condition yazma

In [ ]:
df[df["age"]>78]["age"].value_counts() #yaşın 78'den büyük olan notadaki yaş verilerinin sayısını alıp büyükten küçüğe sayısını sıralar yaşlarla bilrikte burada sadece age ve count getiiryor

In [ ]:
df[df["age"]>78].sort_values(by="age", ascending=False)  #yaşların 78'den büyük olanları yaşa göre sıralayıp datafremin tamamını getiriyor.

In [ ]:
df[df["hours-per-week"] > 52.5].sort_values(by="hours-per-week", ascending=False)

In [ ]:
df[df["hours-per-week"] > 52.5]["hours-per-week"].value_counts().sort_index(ascending=False) #çalışma saati 52.5 fazla olanların çalışma saatlerini bulup value_counts ile value ve sayılarına göre sıralıyor
                                                                                                #sort_index ilede value değerleri küçükten bütüğe göre sıralayıo karşına bulunduğu count verşyor.

In [ ]:
df[(df["hours-per-week"] == 99)].age.value_counts().sort_index(ascending=False)

In [ ]:
df.salary==">50K"  # True false döndürür

In [ ]:
df[(df.education.isin(["Bachelors", "Masters", "Doctorate"])) & (df.salary == ">50K")]

In [ ]:
df[(df.education.isin(["Bachelors", "Masters", "Doctorate"])) & (df.salary == ">50K")]

In [ ]:
country_salary_df = df.groupby("native-country")[["salary"]].count()  #ülkeri hategori yapıp maaş sayar
country_salary_df

Value_counts= liste gelir value, sayısı olur.
Sort_values veya Sort_index olur bunlar dataframe döndürür

19.Np.nan'ları None olarak değiştirme (np.nan groupby yapıldığında görülmüyor. None ile objetc yapılarak görünür hale getiriyoruz

In [ ]:
df.relationship.replace(np.nan, "None", inplace=True)
#df.relationship.fillna("None", inplace=True)

bu işlemi sadece groupbyda nan görünmesi için yaparoz groupby ile işimiz bittikten sonra none np.nan çevrilir.

In [ ]:
df.relationship.replace("None", np.nan, inplace=True)

20.Loc ile hücre verisi değiştirme

In [ ]:
 df.loc[df.workclass == "?", "workclass"] = "Unknown"  # böyle yapmazsak replace ilede yapabilirz. yada np.nan fillna ile doldurulabilir.

In [ ]:
df.relationship.replace(np.nan, "None", inplace=True) # bu np.nan'ı none dönüştürür

In [ ]:
df.relationship.fillna("None", inplace=True)  # fillna np.nanı doldurur. burda none deindiliği için onla doldurur.

In [ ]:
rich_per_country.loc[rich_per_country.salary == rich_per_country.salary.max()]

In [ ]:
rich_per_country.loc[[rich_per_country.salary.idxmax()]]

21.LOC örnekleri

In [ ]:
average_age_men = df.loc[df['sex']=='Male','age'].mean()  #erkeklerin yaş ortalamasını verir   ==     #df[df.sex=="Male"]["age"].mean()
average_age_men

In [ ]:
round(average_age_men,1)

In [ ]:
df.education.value_counts().loc["Bachelors"]

22. Erkeklerin yaş ortalamasını alır.

In [ ]:
df[df.sex=="Male"]["age"].mean()  ---  df.loc[df['sex']=='Male','age'].mean()  #AYNI

23. value_counts yapılmış bir kolondan bir veri çekme Loc ile

In [ ]:
df.education.value_counts().loc["Bachelors"]

24. Belirli bir grubun dışında kolonda arama yapma TİLDE

In [ ]:
df_low_edu =df[~(df.education.isin(["Bachelors", "Masters", "Doctorate"])) & (df.salary == ">50K")]

25.value_counts sonucunda oluşan seriden veri ama(SHAPE, LEN, İNDEX)

In [ ]:
low_edu_high_sal = len(df[(~df.education.isin(["Bachelors", "Masters", "Doctorate"]))&(df.salary=='>50K')])
total = df.shape[0]

In [ ]:
per=low/total

In [ ]:
df[lazy_riches].shape[0]

In [ ]:
df[top_IN_occupation]['occupation'].value_counts().index[0]

26. Kümeleme işlemleri kesisim birleşme

In [ ]:
(df['hours-per-week']==df['hours-per-week'].min()) & (df.salary=='>50K')        # True false döndürür

In [ ]:
len(df[df['hours-per-week']==df['hours-per-week'].min()])                          # sayı verir

In [ ]:
 (df["native-country"]=="India") & (df.salary == ">50K")                         # True False döndürür

27.Mode alma

In [ ]:
df[top_IN_occupation]["occupation"].mode()[0]

28. MAP ile get_dummies yapma

In [ ]:
df.salary.map({"<=50K":0, ">50K":1})

1