<a href="https://colab.research.google.com/github/Nil1205/PANDAS/blob/main/time_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Working with Time Data
pd.to_datetime()

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("time_exercise.csv")

In [4]:
df.head()

   id_product  order_date  product_quantity  product_price  entry_date
0         401  2021-01-23               1.0     541.487603  2018-12-04
1         416  2020-04-02               1.0     131.181818  2018-12-04
2         717  2019-03-10               1.0    2035.488500  2018-12-04
3         778  2019-12-27               1.0     335.988000  2018-12-04
4         826  2020-02-19               1.0     342.292302  2018-12-04

In [5]:
df.info() #time type herzaman datetime olmalÄ± burda object.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    object
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 35.7+ KB

In [6]:
df["order_date"] #burda gÃ¶rÃ¼yoruzki type object

0      2021-01-23
1      2020-04-02
2      2019-03-10
3      2019-12-27
4      2020-02-19
          ...
906    2020-11-24
907    2020-11-24
908    2020-11-22
909    2021-01-26
910    2020-12-06
Name: order_date, Length: 911, dtype: object

**1. TÄ°ME'I OBJECT- DATETÄ°ME ÃEVÄ°RME**

---pd.to_datetime()

In [7]:
pd.to_datetime(df["order_date"])

0     2021-01-23
1     2020-04-02
2     2019-03-10
3     2019-12-27
4     2020-02-19
         ...
906   2020-11-24
907   2020-11-24
908   2020-11-22
909   2021-01-26
910   2020-12-06
Name: order_date, Length: 911, dtype: datetime64[ns]

In [9]:
df["order_date"]=pd.to_datetime(df["order_date"])
df["entry_date"]=pd.to_datetime(df["entry_date"])

In [10]:
df.head()

   id_product order_date  product_quantity  product_price entry_date
0         401 2021-01-23               1.0     541.487603 2018-12-04
1         416 2020-04-02               1.0     131.181818 2018-12-04
2         717 2019-03-10               1.0    2035.488500 2018-12-04
3         778 2019-12-27               1.0     335.988000 2018-12-04
4         826 2020-02-19               1.0     342.292302 2018-12-04

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    datetime64[ns]
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1)
memory usage: 35.7 KB

In [12]:
df.entry_date.min()

Timestamp('2018-12-04 00:00:00')

In [13]:
df.entry_date.max()

Timestamp('2020-11-26 00:00:00')

**2. TÄ°ME FORMAT VERME**



---pd.to_datetime(a, format="%d-%m-%Y")

In [14]:
a = pd.Series(["15-03-2020", "18-05-2019", "24-07-2018"])
a

0    15-03-2020
1    18-05-2019
2    24-07-2018
dtype: object

In [18]:
a.max() #formatsÄ±z veriyi anlmadÄ±ÄÄ± iÃ§in yanlÄ±Å verir formatÄ± tanÄ±mlamak lazÄ±m

'24-07-2018'

In [17]:
pd.to_datetime(a, format="%d-%m-%Y").max()

Timestamp('2020-03-15 00:00:00')

**3.SERÄ°ES.DT()**

---# it can be date, year, quarter, month, week, day, weekday, dayofweek, hour, minute, second, microsecond

In [19]:
df["entry_date"].dt.year

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
906    2020
907    2020
908    2020
909    2020
910    2020
Name: entry_date, Length: 911, dtype: int64

In [20]:
df["entry_date"].dt.month

0      12
1      12
2      12
3      12
4      12
       ..
906    10
907    10
908    11
909    11
910    11
Name: entry_date, Length: 911, dtype: int64

In [21]:
df["entry_date"].dt.quarter

0      4
1      4
2      4
3      4
4      4
      ..
906    4
907    4
908    4
909    4
910    4
Name: entry_date, Length: 911, dtype: int64

**4.DATETÄ°ME MODULU**


---**4.1.CLASS DATETÄ°ME.DATETÄ°ME**

---A combination of a date and a time. Attributes: year, month, day, hour, minute, second, microsecond, and tzinfo.

In [22]:
from datetime import datetime

In [23]:
datetime.now()

datetime.datetime(2022, 2, 8, 23, 35, 56, 615247)

In [27]:
a=print(datetime.today())

2022-02-08 23:38:16.508744

In [25]:
current_datetime=datetime.now()
current_datetime

datetime.datetime(2022, 2, 8, 23, 37, 20, 226472)

In [26]:
current_datetime.year

2022

**4.2.CLASS DATETÄ°ME.TÄ°MEDELTA**

In [29]:
from datetime import timedelta

In [30]:
timedelta(days=2)

datetime.timedelta(days=2)

In [31]:
print(timedelta(days=2))

2 days, 0:00:00

In [33]:
two_days_before=current_datetime-timedelta(days=2)
two_days_before

datetime.datetime(2022, 2, 6, 23, 37, 20, 226472)

In [34]:
current_datetime + timedelta(weeks=2, days=2, hours=12)

datetime.datetime(2022, 2, 25, 11, 37, 20, 226472)

In [35]:
print(f"{'current_date': <15}", current_datetime)
print(f"{'plus': <15}", timedelta(weeks=2, hours=4, minutes=10))
print(f"{'total': <15}", current_datetime+timedelta(weeks=2, days=3, hours=4, minutes=10))

current_date    2022-02-08 23:37:20.226472
plus            14 days, 4:10:00
total           2022-02-26 03:47:20.226472

**4.3.STRFTÄ°ME()**

In [36]:
current_datetime

datetime.datetime(2022, 2, 8, 23, 37, 20, 226472)

In [37]:
current_datetime.year

2022

In [38]:
print(current_datetime)

2022-02-08 23:37:20.226472

In [44]:
year1=current_datetime.year
print("year:", year1)

year: 2022

In [40]:
year=current_datetime.strftime("%Y")
print("year:", year)

year: 2022

In [42]:
month=current_datetime.strftime("%m")
print("month:", month)

month: 02

In [45]:
date_time = current_datetime.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

date and time: 02/08/2022, 23:37:20

**4.4.STRPTÄ°ME()

---Converting from string type to datetime object

---datetime.strptime()

---string bir tarihi datetime cevirip step step year month almamÄ±zÄ± saÄlar

In [46]:
date_string = "21 June, 2018"
date_string

'21 June, 2018'

In [48]:
type(date_string)

str

In [50]:
datetime.strptime(date_string, "%d %B, %Y")

datetime.datetime(2018, 6, 21, 0, 0)

In [51]:
pd.to_datetime(date_string)

Timestamp('2018-06-21 00:00:00')

In [52]:
datetime_object = datetime.strptime(date_string, "%d %B, %Y")
datetime_object

datetime.datetime(2018, 6, 21, 0, 0)

In [53]:
datetime_object.year

2018

In [55]:
type(datetime_object.year)

int

**Operation with datetime object
lets detect the time between first order date and entry date for each product**

In [56]:
df

     id_product order_date  product_quantity  product_price entry_date
0           401 2021-01-23               1.0     541.487603 2018-12-04
1           416 2020-04-02               1.0     131.181818 2018-12-04
2           717 2019-03-10               1.0    2035.488500 2018-12-04
3           778 2019-12-27               1.0     335.988000 2018-12-04
4           826 2020-02-19               1.0     342.292302 2018-12-04
..          ...        ...               ...            ...        ...
906     1536842 2020-11-24               1.0    1186.776860 2020-10-07
907     1536842 2020-11-24               1.0    1186.776860 2020-10-07
908     1536887 2020-11-22               1.0       0.000000 2020-11-13
909     1536952 2021-01-26               1.0     988.429752 2020-11-24
910     1536974 2020-12-06               1.0       0.000000 2020-11-26

[911 rows x 5 columns]

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    datetime64[ns]
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1)
memory usage: 35.7 KB

In [60]:
df["passing_time_to_firstsale"]=df["order_date"]-df["entry_date"]
df["passing_time_to_firstsale"]

0     781 days
1     485 days
2      96 days
3     388 days
4     442 days
        ...
906    48 days
907    48 days
908     9 days
909    63 days
910    10 days
Name: passing_time_to_firstsale, Length: 911, dtype: timedelta64[ns]

In [66]:
df["passing_time_to_firstsale"]=df["passing_time_to_firstsale"].astype("str").str.split(" ").str[0].astype("int")

In [67]:
df

     id_product order_date  ...  entry_date  passing_time_to_firstsale
0           401 2021-01-23  ...  2018-12-04                        781
1           416 2020-04-02  ...  2018-12-04                        485
2           717 2019-03-10  ...  2018-12-04                         96
3           778 2019-12-27  ...  2018-12-04                        388
4           826 2020-02-19  ...  2018-12-04                        442
..          ...        ...  ...         ...                        ...
906     1536842 2020-11-24  ...  2020-10-07                         48
907     1536842 2020-11-24  ...  2020-10-07                         48
908     1536887 2020-11-22  ...  2020-11-13                          9
909     1536952 2021-01-26  ...  2020-11-24                         63
910     1536974 2020-12-06  ...  2020-11-26                         10

[911 rows x 6 columns]

In [70]:
df.groupby("id_product")["passing_time_to_firstsale"].min()

id_product
401        781
416        485
717         96
778        388
826        442
          ...
1536841     38
1536842     48
1536887      9
1536952     63
1536974     10
Name: passing_time_to_firstsale, Length: 498, dtype: int64

In [71]:
df.groupby("id_product")["passing_time_to_firstsale"].transform(min)

0      781
1      485
2       96
3      388
4      442
      ...
906     48
907     48
908      9
909     63
910     10
Name: passing_time_to_firstsale, Length: 911, dtype: int64

In [72]:
df["passing_time_to_firstsale"]=df.groupby("id_product")["passing_time_to_firstsale"].transform(min)
df

     id_product order_date  ...  entry_date  passing_time_to_firstsale
0           401 2021-01-23  ...  2018-12-04                        781
1           416 2020-04-02  ...  2018-12-04                        485
2           717 2019-03-10  ...  2018-12-04                         96
3           778 2019-12-27  ...  2018-12-04                        388
4           826 2020-02-19  ...  2018-12-04                        442
..          ...        ...  ...         ...                        ...
906     1536842 2020-11-24  ...  2020-10-07                         48
907     1536842 2020-11-24  ...  2020-10-07                         48
908     1536887 2020-11-22  ...  2020-11-13                          9
909     1536952 2021-01-26  ...  2020-11-24                         63
910     1536974 2020-12-06  ...  2020-11-26                         10

[911 rows x 6 columns]

In [73]:
df.groupby("id_product").order_date.max()

id_product
401       2021-01-23
416       2020-04-02
717       2019-03-10
778       2019-12-27
826       2020-02-19
             ...
1536841   2020-11-22
1536842   2020-11-24
1536887   2020-11-22
1536952   2021-01-26
1536974   2020-12-06
Name: order_date, Length: 498, dtype: datetime64[ns]

In [76]:
df.groupby("id_product").order_date.transform(max).dt.date

0      2021-01-23
1      2020-04-02
2      2019-03-10
3      2019-12-27
4      2020-02-19
          ...
906    2020-11-24
907    2020-11-24
908    2020-11-22
909    2021-01-26
910    2020-12-06
Name: order_date, Length: 911, dtype: object

In [77]:
last_order_date = df.groupby("id_product").order_date.transform(max).dt.date

In [78]:
today = pd.to_datetime("01-02-2021", format='%d-%m-%Y').date()
print(today)

2021-02-01

In [79]:
today - last_order_date

0       9 days
1     305 days
2     694 days
3     402 days
4     348 days
        ...
906    69 days
907    69 days
908    71 days
909     6 days
910    57 days
Name: order_date, Length: 911, dtype: timedelta64[ns]

In [80]:
df["passing_time_from_lastsale"] = today - last_order_date

In [81]:
df["passing_time_from_lastsale"] = df["passing_time_from_lastsale"].astype("str").str.split(" ").str[0].astype(int)
df

     id_product  ... passing_time_from_lastsale
0           401  ...                          9
1           416  ...                        305
2           717  ...                        694
3           778  ...                        402
4           826  ...                        348
..          ...  ...                        ...
906     1536842  ...                         69
907     1536842  ...                         69
908     1536887  ...                         71
909     1536952  ...                          6
910     1536974  ...                         57

[911 rows x 7 columns]